<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 
	<context-param>
		<param-name>debug</param-name>
		<param-value>false</param-value>
	</context-param>
	
	<servlet>
		<display-name>AddJob</display-name>
		<servlet-name>AddJob</servlet-name>
		<servlet-class>com.tinkerpop.bench.web.AddJob</servlet-class>
		<load-on-startup>1</load-on-startup>
	 </servlet>
	
	<servlet>
		<display-name>AddPredefinedJobs</display-name>
		<servlet-name>AddPredefinedJobs</servlet-name>
		<servlet-class>com.tinkerpop.bench.web.AddPredefinedJobs</servlet-class>
		<load-on-startup>1</load-on-startup>
	 </servlet>
	
	<servlet>
		<display-name>DownloadResults</display-name>
		<servlet-name>DownloadResults</servlet-name>
		<servlet-class>com.tinkerpop.bench.web.DownloadResults</servlet-class>
		<load-on-startup>1</load-on-startup>
	 </servlet>
	
	<servlet>
		<display-name>JobExecutionControl</display-name>
		<servlet-name>JobExecutionControl</servlet-name>
		<servlet-class>com.tinkerpop.bench.web.JobExecutionControl</servlet-class>
		<load-on-startup>1</load-on-startup>
	 </servlet>
	
	<servlet>
		<display-name>JobListControl</display-name>
		<servlet-name>JobListControl</servlet-name>
		<servlet-class>com.tinkerpop.bench.web.JobListControl</servlet-class>
		<load-on-startup>1</load-on-startup>
	 </servlet>
	
	<servlet>
		<display-name>RunBenchmark</display-name>
		<servlet-name>RunBenchmark</servlet-name>
		<servlet-class>com.tinkerpop.bench.web.RunBenchmark</servlet-class>
		<load-on-startup>1</load-on-startup>
	 </servlet>
	
	<servlet>
		<display-name>ShowLogFile</display-name>
		<servlet-name>ShowLogFile</servlet-name>
		<servlet-class>com.tinkerpop.bench.web.ShowLogFile</servlet-class>
		<load-on-startup>1</load-on-startup>
	 </servlet>
	
	<servlet>
		<display-name>ShowOutput</display-name>
		<servlet-name>ShowOutput</servlet-name>
		<servlet-class>com.tinkerpop.bench.web.ShowOutput</servlet-class>
		<load-on-startup>1</load-on-startup>
	 </servlet>
	
	<servlet>
		<display-name>ShowOperationRunTimes</display-name>
		<servlet-name>ShowOperationRunTimes</servlet-name>
		<servlet-class>com.tinkerpop.bench.web.ShowOperationRunTimes</servlet-class>
		<load-on-startup>1</load-on-startup>
	 </servlet>
	
	<servlet>
		<display-name>ShowSummaryLogFile</display-name>
		<servlet-name>ShowSummaryLogFile</servlet-name>
		<servlet-class>com.tinkerpop.bench.web.ShowSummaryLogFile</servlet-class>
		<load-on-startup>1</load-on-startup>
	 </servlet>

	<servlet-mapping>
		<servlet-name>AddJob</servlet-name>
		<url-pattern>/AddJob</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AddPredefinedJobs</servlet-name>
		<url-pattern>/AddPredefinedJobs</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DownloadResults</servlet-name>
		<url-pattern>/DownloadResults</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>JobExecutionControl</servlet-name>
		<url-pattern>/JobExecutionControl</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>JobListControl</servlet-name>
		<url-pattern>/JobListControl</url-pattern>
	</servlet-mapping>
 
	<servlet-mapping>
		<servlet-name>RunBenchmark</servlet-name>
		<url-pattern>/RunBenchmark</url-pattern>
	</servlet-mapping>
 
	<servlet-mapping>
		<servlet-name>ShowLogFile</servlet-name>
		<url-pattern>/ShowLogFile</url-pattern>
	</servlet-mapping>
 
	<servlet-mapping>
		<servlet-name>ShowOperationRunTimes</servlet-name>
		<url-pattern>/ShowOperationRunTimes</url-pattern>
	</servlet-mapping>
 
	<servlet-mapping>
		<servlet-name>ShowOutput</servlet-name>
		<url-pattern>/ShowOutput</url-pattern>
	</servlet-mapping>
  
	<servlet-mapping>
		<servlet-name>ShowSummaryLogFile</servlet-name>
		<url-pattern>/ShowSummaryLogFile</url-pattern>
	</servlet-mapping>

</web-app>
