
/* -------------------------------------------------------- *
 *  Basic Styles                                            *
 * -------------------------------------------------------- */

body {
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}

p, h1, form, button, body, html {
	border:0;
	margin:0;
	padding:0;
}

.spacer {
	clear:both;
	height:1px;
}


/* -------------------------------------------------------- *
 *  Header                                                  *
 * -------------------------------------------------------- */
 
#header {
	width:100%;
	border-bottom:solid 2px #b7ddf2;
	background:#ebf4fb;
	padding:10px;
	margin-bottom:20px;
}


/* -------------------------------------------------------- *
 *  Forms                                                   *
 * -------------------------------------------------------- */

/* Adapted from: http://woork.blogspot.com/2008/06/clean-and-pure-css-form-design.html */
 
.stylized_form {
	margin:0 auto;
	width:650px;
	padding:14px;
	border:solid 2px #b7ddf2;
	background:#ebf4fb;
}

.stylized_form h1 {
	font-size:14px;
	font-weight:bold;
	margin-bottom:8px;
}

.stylized_form p.header {
	font-size:11px;
	color:#666666;
	margin-bottom:20px;
	border-bottom:solid 1px #b7ddf2;
	padding-bottom:10px;
}

.stylized_form p.middle {
	float:left;
	width: 100%;
	display:block;
	font-weight:bold;
	clear:both;
	margin-top:20px;
	border-top:solid 1px #b7ddf2;
	padding-top:10px;
	padding-bottom:10px;
}

.stylized_form label {
	display:block;
	font-weight:bold;
	text-align:right;
	width:190px;
	float:left;
}

.stylized_form label.checkbox {
	display:inline;
	font-weight:normal;
	text-align:left;
	width:auto;
	float:left;
	clear:both;
	padding-left:10px;
	padding-bottom:2px;
}

.stylized_form .small {
	color:#666666;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	width:190px;
}

.stylized_form input, .stylized_form select {
	background-color: white;
	float:left;
	font-size:12px;
	padding:4px 2px;
	border:solid 1px #aacfe4;
	width:440px;
	margin:2px 0 20px 10px;
}

.stylized_form input.checkbox {
	float:none;
	margin:0;
	padding:0 0 0 10px;
}

.stylized_form button {
	clear:both;
	float:left;
	margin-top:10px;
	margin-left:0px;
	width:125px;
	height:31px;
	background:#666666 url(img/button.png) no-repeat;
	text-align:center;
	line-height:31px;
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
}
