
/* -------------------------------------------------------- *
 *  Basic Styles                                            *
 * -------------------------------------------------------- */

body {
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}

p, h1, form, button, body, html {
	border:0;
	margin:0;
	padding:0;
}

.clear {
	clear:both;
}

.spacer {
	clear:both;
	height:1px;
}

.medium_spacer {
	clear:both;
	height:16px;
}

h1 {
	font-size:16px;
	font-weight:bold;
	margin-top:0px;
	margin-bottom:24px;
}

h2 {
	font-size:16px;
	font-weight:bold;
	margin-top:20px;
	margin-bottom:16px;
}

h3 {
	font-size:14px;
	font-weight:bold;
	margin-top:30px;
	margin-bottom:16px;
}

.simple_status_warning {
	font-style: italic;
}

.basic_status_running {
	margin-left:10px;
	height:31px;
	width:auto;
	line-height:31px;
	font-size:11px;
	vertical-align: middle;
	display: block;
	padding-left: 32px;
	/* Icon: http://www.frumster.com/images/loading-animated-spokes.gif */
	background: url(icons/loading_32.gif) no-repeat left center;
	background-size:24px 24px;
}

.basic_status_error {
	margin-left:10px;
	height:31px;
	width:auto;
	line-height:31px;
	font-size:11px;
	vertical-align: middle;
	display: block;
	padding-left: 32px;
	background: url(icons/error_32.png) no-repeat left center;
	background-size:24px 24px;
}

button.gray_button {
	margin-top:0px;
	margin-left:0px;
	width:150px;
	height:31px;
	text-align:center;
	line-height:31px;
	background:#666666;
	text-align:center;
	line-height:31px;
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
}

button {
	margin-top:0px;
	margin-left:0px;
	width:150px;
	height:31px;
	text-align:center;
	line-height:31px;
	color:black;
	font-size:11px;
	font-weight:bold;
	background:#aacfe4;
	border: solid 1px #aacfe4;
}

.chart {
}

.chart rect {
	stroke: white;
	fill: steelblue;
}


/* -------------------------------------------------------- *
 *  Header                                                  *
 * -------------------------------------------------------- */
 
#header {
	width:100%;
	border-bottom:solid 2px #b7ddf2;
	background:#b7ddf2;
	padding:0;
	color: black;
}

#header h1 {
	font-size:18px;
	padding: 10px;
	margin: 0;
}


/* -------------------------------------------------------- *
 *  Menu                                                    *
 * -------------------------------------------------------- */

#menu {
	width: 200px;
	height: 100%;
	float: left;
	text-align: left;
	margin: 0 0 0 0;
	border-right:solid 2px #b7ddf2;
	border-bottom:solid 2px #b7ddf2;
	background:#ebf4fb;
}

#menu li a {
	display:block;
	font-weight:bold;
	text-align:right;
	width:190px;
	float:left;
	height: 30px;
	text-decoration: none;
	text-align: left;
	padding-left:10px;
	vertical-align: middle;
}	

#menu li p {
	display:block;
	font-weight:bold;
	text-align:right;
	width:190px;
	float:left;
	height: 30px;
	text-decoration: none;
	text-align: left;
	padding-left:10px;
	vertical-align: middle;
	color: #222222;
	background:#b7ddf2;
	padding: 15px 0 0 10px;
	text-align: left;
}	

#menu li a:link, #menu li a:visited {
	color: black;
	display: block;
	padding: 15px 0 0 10px;
	text-align: left;
}
	
#menu li a:hover, #menu li a:active {
	color: #222222;
	background:#b7ddf2;
	padding: 15px 0 0 10px;
	text-align: left;
}	

#menu ul {
	list-style: none;
	margin: 0;
	padding: 15px 0 0 0;
	text-align: left;
}


/* -------------------------------------------------------- *
 *  Content                                                 *
 * -------------------------------------------------------- */

#container_outer {
    width:100%;
    min-width:1000px;
}

#content {
	margin-left: 200px;
}

#content_inner {
	padding: 10px;
	overflow: auto;
}


/* -------------------------------------------------------- *
 *  Forms                                                   *
 * -------------------------------------------------------- */

/* Adapted from: http://woork.blogspot.com/2008/06/clean-and-pure-css-form-design.html */

.stylized_form {
	margin:0 auto;
	/*width:650px;*/
	padding:14px;
	/*border:solid 2px #b7ddf2;*/
	/*background:#ebf4fb;*/
	padding-right:210px;
}

.stylized_form h1 {
	margin-bottom: 8px;
}

.stylized_form div {
	padding: 0;
	margin: 0;
	clear: both;
}

.stylized_form p.header {
	float:left;
	width: 100%;
	font-size:11px;
	display:block;
	color:#666666;
	margin-bottom:20px;
	border-bottom:solid 1px #b7ddf2;
	padding-bottom:10px;
	padding-right:210px;
}

.stylized_form p.header2 {
	float:left;
	width: 100%;
	display:block;
	font-weight:bold;
	padding-bottom:10px;
	padding-right:210px;
}

.stylized_form p.middle {
	float:left;
	width: 100%;
	display:block;
	font-weight:bold;
	margin-top:20px;
	border-top:solid 1px #b7ddf2;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:210px;
}

.stylized_form p.middle_inner {
	float:left;
	width: 100%;
	display:block;
	font-weight:bold;
	margin-top:0px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:210px;
	padding-left: 10px;
}

.stylized_form label {
	display:block;
	font-weight:bold;
	text-align:right;
	width:195px;
	float:left;
	clear:left;	
}

.stylized_form label.lesser {
	font-weight:normal;
}

.stylized_form label.checkbox {
	display:inline;
	font-weight:normal;
	text-align:left;
	width:auto;
	float:left;
	clear:both;
	padding-left:10px;
	padding-bottom:2px;
}

.stylized_form label.checkbox_lesser {
	display:inline;
	font-weight:normal;
	text-align:left;
	width:120px;
	float:left;
	padding-left:10px;
	padding-bottom:2px;
	clear:none;
}

.stylized_form .small {
	color:#666666;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	width:195px;
}

.stylized_form input, .stylized_form select {
	background-color: white;
	float:left;
	font-size:12px;
	padding:4px 2px;
	border:solid 1px #aacfe4;
	width:100%;
	margin:2px -500px 20px 10px;
}

.stylized_form input.checkbox {
	float:none;
	margin:0;
	padding:0 0 0 10px;
	width:auto;
}

.stylized_form input.checkbox_lesser {
	float:none;
	margin:0;
	padding:0 0 0 10px;
	width:auto;
}

.stylized_form div.checkbox_lesser {
	float:none;
	overflow: auto;
	padding-left: 20px;
}

.stylized_form button {
	float:left;
	margin-top:20px;
	margin-left:0px;
	width:150px;
	height:31px;
	background:#666666;
	text-align:center;
	line-height:31px;
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
}

.stylized_form button.small_margin {
	margin-top:10px;
	margin-left:0px;
}

.stylized_form div.db_table_div {
	clear: none;
	float:left;
}

table.db_table, table.db_table td, table.db_table th {
	border: solid 1px #aacfe4;
}

table.db_table {
	border-collapse:collapse;
	margin: 0 auto;
	width: 100%;
}

table.db_table td, table.db_table th {
	padding: 5px 10px;
	vertical-align: middle;
}

table.db_table th {
	background: #aacfe4;
}

table.db_table tr {
	padding: 0;
	margin: 0;
	height:30px;
}

table.db_table input {
	padding: 0;
	margin: 0;
	width: 80px;
}

table.db_table input.db_table_checkbox {
	float:none;
	margin: 5px 0 0 0;
	padding: 0;
	width: auto;
}

table.db_table label {
	display:inline;
	width:auto;
	padding: 2px 5px 0 0;
	margin: 0;
}

table.db_table label.db_table_checkbox {
	display:block;
	font-weight:normal;
	width:100%;
	height:30px;
	text-align: center;
	vertical-align: middle;
	padding: 0;
}

table.db_table label.db_table_available {
	background:#ebf4fb;
}

table.db_table td.db_table_checkbox {
	padding: 0;
	margin: 0;
}

.basic_form {
	margin:0 auto;
	padding:14px;
}

.basic_form h1 {
	margin-bottom: 8px;
}

.basic_form div {
	padding: 0;
	margin: 0;
	clear: both;
}

.basic_form p.header {
	float:left;
	width: 100%;
	font-size:11px;
	display:block;
	color:#666666;
	margin-bottom:20px;
	border-bottom:solid 1px #b7ddf2;
	padding-bottom:10px;
}

.basic_form p.header2 {
	float:left;
	width: 100%;
	display:block;
	font-weight:bold;
	padding-bottom:10px;
}

.basic_form p.middle {
	float:left;
	width: 100%;
	display:block;
	font-weight:bold;
	margin-top:20px;
	border-top:solid 1px #b7ddf2;
	padding-top:10px;
	padding-bottom:10px;
}

.basic_form div.db_table_div {
	padding-right: 210px;
	clear: none;
	float:left;
}

.basic_form div.chart_outer {
	border: solid 1px #aacfe4;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.chart_outer a {
	color: gray;
	font-size: smaller;
	padding: 10px;
}

.chart_outer a#link, .chart_outer a#visited {
	color: gray;
}

.chart_outer a#hover, .chart_outer a#active {
	color: gray;
}

.basic_form label.checkbox {
	display:inline;
	font-weight:normal;
	text-align:left;
	width:auto;
	float:left;
	clear:both;
	padding-left:10px;
	padding-bottom:2px;
}

.basic_form input.checkbox {
	background-color: white;
	font-size:12px;
	float:none;
	margin:0;
	padding:0 0 0 10px;
	width:auto;
}



/* -------------------------------------------------------- *
 *  Job List                                                *
 * -------------------------------------------------------- */

.job_list_form {
	margin:0 auto;
	padding:14px;
}

.job_list_form h1 {
	margin-bottom: 8px;
}

.job_list_form p.header {
	width: 100%;
	font-size:11px;
	display:block;
	color:#666666;
	margin-bottom:20px;
	border-bottom:solid 1px #b7ddf2;
	padding-bottom:10px;
}

div.job_list_div {
	border-top:solid 1px #aacfe4;
	border-left:solid 1px #aacfe4;
	border-right:solid 1px #aacfe4;
	padding-right:2px;
}

.job_list_div div.header {
	background-color: #aacfe4;
	border-bottom:solid 1px #aacfe4;
	padding-right: 2px;
	width:100%;
	color: #000000;
	font-weight: bold;
}

.job_list_div div.footer {
	background-color: #DDDDDD;
	border-bottom:solid 1px #aacfe4;
	padding-right: 2px;
	width:100%;
}

.job_list_form div.footer_detached {
	background-color: #FBFBFB;
	margin-top: 10px;
	width:100%;
}

.job_list_div div.header_inner {
	padding: 5px;
}

.job_list_div div.footer_inner {
	padding: 5px;
}

.job_list_form div.footer_inner_detached {
	border: solid 1px #aacfe4;
	padding: 5px;
}

.job_list_div div.checkbox_outer {
	display: block;
	border-bottom:solid 1px #aacfe4;
	font-weight:normal;
	text-align:left;
	width:100%;
	font-family: monospace;
	padding-right: 2px;
}

.job_list_div div.checkbox {
	display: block;
	border: solid 1px transparent;
	font-weight:normal;
	text-align:left;
	width:100%;
	font-family: monospace;
}

.job_list_div div.checkbox_inner {
	padding: 10px 0 0 10px;
	float:left;
}

.job_list_div p.job_none {
	display: block;
	border-bottom:solid 1px #aacfe4;
	font-weight:normal;
	text-align:center;
	width:100%;
	padding: 10px 1px;
	font-style: italic;
}

.job_list_div div.job_neutral {
	background: #FBFBFB;
}

.job_list_div div.job_running {
	background: #ebf4fb;
}

.job_list_div div.job_done {
	background: #EBFBEC;
}

.job_list_div div.job_failed {
	background: #FBEBEB;
}

.job_list_div div.checked_job_neutral {
	border: solid 1px #888888;
	background: #E0E0E0;
}

.job_list_div div.checked_job_running {
	border: solid 1px #5299CC;
	background: #BBE0FA;
}

.job_list_div div.checked_job_done {
	border: solid 1px #51CC59;
	background: #BCFBC1;
}

.job_list_div div.checked_job_failed {
	border: solid 1px #CC5151;
	background: #FBBCBC;
}

.job_list_div input.checkbox {
	float:left;
	font-size:12px;
	width:auto;
	margin:0;
	padding:0 10px 0 10px;
}

.job_list_div p.checkbox {
	padding:12px 10px 10px 20px;
	margin-left: 40px;
	margin-top: 0px;
	margin-right: 48px;
}

.job_list_div p.job_running {
	/* Icon: http://www.frumster.com/images/loading-animated-spokes.gif */
	background: url(icons/loading_32.gif) no-repeat left 10px;
	background-size:16px 16px;
}

.job_list_div p.job_done {
	/* Icon - free for commercial use: http://iconlet.com/info/82999_checkmark_32_32x32 */
	background: url(icons/checkmark_32.png) no-repeat left 10px;
	background-size:16px 16px;
}

.job_list_div p.job_failed {
	/* Icon - free for commercial use: http://iconlet.com/info/82992_error_32_32x32 */
	background: url(icons/error_32.png) no-repeat left 10px;
	background-size:16px 16px;
}

.job_list_div a.per_row_link {
	float: right;
	border: none;
	margin-left: 8px;
	padding: 8px 8px 8px 0;
}

.job_list_form button.footer {
	float:left;
	margin-top:0px;
	margin-left:0px;
	margin-right:5px;
	width:140px;
	height:25px;
	background:#aacfe4;
	text-align:center;
	line-height:25px;
	color:#000000;
	font-size:11px;
	font-weight:bold;
	border: solid 1px #aacfe4;
}

.job_list_form button[disabled="disabled"] {
	background:#DDDDDD;
	color:#666666;
	border: solid 1px #666666;
}

#job_control {
	clear: both;
}

#job_control p.middle_header {
	font-size: 14px;
	float:left;
	width: 100%;
	display:block;
	font-weight:bold;
	margin-top:40px;
	border-top:solid 1px #b7ddf2;
	padding-top:10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#job_control button {
	float:left;
	margin-top:0px;
	margin-left:0px;
	margin-right:10px;
	width:150px;
	height:31px;
	background:#aacfe4;
	text-align:center;
	line-height:31px;
	color:black;
	font-size:11px;
	font-weight:bold;
	border: solid 1px #aacfe4;
}

#job_control button[disabled="disabled"] {
	background:#ebf4fb;
	color:#aacfe4;
	border: solid 1px #aacfe4;
}

#job_control p.status {
	margin-left:10px;
	height:31px;
	width:auto;
	line-height:31px;
	font-size:11px;
	vertical-align: middle;
	display: block;
	float: left;
}

#job_control p.status_running {
	padding-left: 32px;
	/* Icon: http://www.frumster.com/images/loading-animated-spokes.gif */
	background: url(icons/loading_32.gif) no-repeat left center;
	background-size:24px 24px;
}



/* -------------------------------------------------------- *
 *  Basic Table                                             *
 * -------------------------------------------------------- */

table.basic_table, table.basic_table td, table.basic_table th {
	border: solid 1px #aacfe4;
}

table.basic_table {
	border-collapse:collapse;
	margin: 0 auto;
	width: 100%;
}

table.basic_table td, table.basic_table th {
	padding: 5px 10px;
	vertical-align: middle;
}

table.basic_table th {
	background: #aacfe4;
	text-align: left;
}

table.basic_table tr {
	padding: 0;
	margin: 0;
	height:30px;
}

table.basic_table th.numeric, table.basic_table td.numeric {
	text-align: right;
}

table.basic_table th.na_right, table.basic_table td.na_right {
	text-align: right;
	color: gray;
}
