*.log
*.edgelist
#*.graphml
*.hprof
*.pyc
*.swp
*~
target/
bin/
wiki/
blog/
doc/old wiki entries/
.settings/
.project
.pydevproject
.classpath
.idea/
graphdb-bench.iml
JRatOutput/
data/datasets/*
data/results/*
.directory
dex.cfg

